/* Tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td {
  vertical-align: middle;
}

th {
  background-color: #f9f9f9;
}

th div {
  display: flex;
  align-items: center;
}

th input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: calc(100% - 80px); /* Platz für den Button */
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

/* Layout für New-User-Button */
div[style*="display: flex"] {
  justify-content: flex-end;
}

/* Buttons in der gleichen Zeile aber unterschiedlichen Spalten */
td {
  text-align: center;
}

button {
  margin: 0 2px;
}
