<div style="height: 10px;"></div>

<div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
  <button (click)="createNewUser()" style="padding: 15px 15px;">
    New User
  </button>
</div>

<table>
  <thead>
  <tr>
    <th>
      <div style="display: flex; align-items: center;">
        <input
          type="text"
          placeholder="Filter by ID or Name"
          [(ngModel)]="idFilter"
          (keydown.enter)="applyFilters()"
          style="padding: 5px; width: calc(100% - 80px); margin-right: 5px;"
        />
        <button (click)="applyFilters()">Search</button>
      </div>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="errorMessage">
    <td colspan="4" style="color: red; text-align: center;">{{ errorMessage }}</td>
  </tr>

  <tr *ngFor="let e of filteredEmployees$ | async">
    <td>{{ e.id }} - {{ e.lastName }}, {{ e.firstName }}</td>
    <td>
      <button (click)="showDetails(e.id)" style="padding: 8px 12px; margin: 0;">SHOW</button>
    </td>
    <td>
      <button (click)="editEmployee(e.id)" style="padding: 8px 12px; margin: 0;">EDIT</button>
    </td>
    <td>
      <button (click)="deleteEmployee(e.id)" style="padding: 8px 12px; margin: 0;">X</button>
    </td>
  </tr>
  </tbody>
</table>

<app-confirmation-dialog
  *ngIf="showConfirmation"
  [message]="'Are you sure you want to delete this employee?'"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()">
</app-confirmation-dialog>

<app-new-user
  *ngIf="showNewUserModal"
  [mode]="mode"
  [employeeId]="employeeId"
  (closeModal)="handleModalClose($event)">
</app-new-user>

